@charset "UTF-8";
@font-face {
  font-family: Eofont R;
  src: url(../../fonts/Eofont-R.otf) format('truetype');
}

.is-hide {
  display: none;
}

.loading {
  z-index: 200;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);
}
.loading::before {
  content: "";
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-top: -15px;
  margin-left: -15px;
  background-color: #1b1b1b;
}

.loading::after {
  content: "";
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border: solid 4px #f39800;
  border-right: solid 4px #1b1b1b;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0%    {transform: rotate(0deg);}
  100%  {transform: rotate(360deg);}
}
