@media screen and (max-width: 640px){
	body {
		background-color: #999;
		font-family: "ƒƒCƒŠƒI", Meiryo, "Hiragino Kaku Gothic Pro", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", Arial, Verdana, sans-serif;
	}

	.bg {
		background-color: #f3f3f3;
	}

	.main {
		margin: 10px 0 10px;
		border-radius: 6px;
		padding: 10px 2px;
	}
	
	header {
		background-color: #1b1b1b;
	}
	
	h1 {
		color: #fff;
		font-size: 16px;
		padding: 10px;
		text-align: center;
	}

	footer {
		background-color: #3f4345;
		color: #999;
		font-size: 14px;
		padding: 5px;
	}
	
	input[type="text"] {
		font-size: 16px;
		height: 48px;
		margin-bottom: 5px;
		display: block;
		width: 92%;
        text-indent: 1em;
		margin: 10px auto;
	}
	
	ul,
	li {
		list-style-type: none;
		padding: 0;
		display: inline-block;
	}
	
	#freecompany,
	#linkshell,
	#character,
	#reset {
		margin: 6px 0;
		padding: 0 5px;
	}
	
	#freecompany_name {
		display: inline-block;
		width: 100%;
		margin: 10px 0 20px;
		font-weight: bold;
	}
	
	#linkshell_name {
		display: inline-block;
		width: 80%;
		margin: 10px 0 20px;
		font-weight: bold;
	}

	#linkshell .icon {
		display: inline-block;
		vertical-align: middle;
	}
	
	.chara_face {
		width: 15%;
		padding-left: 4px;
	}

	.chara_name {
		vertical-align: top;
		font-weight: bold;
		width: 75%;
        margin-left: 10px;
	}
	
	.chara_name, .chara_face {
		margin-top: 10px;
	}
	
	.button {
		display: block;
		color: #fff;
		width: 95%;
		height: 44px;
		line-height: 44px;
		text-align: center;
		vertical-align: middle;
		font-size: 14px;
		text-decoration: none;
		border-radius: 4px;
		padding: 1px 6px;
		margin: 0 auto;
	}
	
	.search_btn {
		background-color: #5990ff;
	}
	
	.delete_btn {
		position: relative;
		margin-top: 20px;
	}
	
	.delete_btn::before {
		content: "";
		position: absolute;
		top: -6px;
		left: 0;
		right: 0;
		width: 100%;
		border-top: 3px solid #a5a5a5;
	}
	
	.delete_btn,
	.reset_btn {
		background-color: #e67e17;
	}
	
	#other {
		padding: 0 20px;
	}
	
	#mount_list {
		padding: 0 5px;
	}
	
	#mount_list .mount_image {
		position: relative;
		margin: 2px;
	}
    
    #change_log {
        display :none;
    }

	.tooltip {
		visibility: hidden;
		text-align: center;
		position: absolute;
		z-index: 1;
		opacity: 0;
		transition: opacity 500ms;
		width: 120px;
		bottom: 125%;
		left: 50%;
		margin-left: -200px;
	}

	.tooltip > .text {
		background-color: black;
		color: #fff;
		padding: 5px 10px;
		border-radius: 6px;
		font-size: 12px;
		display: inline-block;
	}

	.tooltip > .text::after {
		content: " ";
		postion: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: black transparent transparent transparent;
	}

	.mount_image:hover > .tooltip {
		visibility: visible;
		opacity: 1;
	}
}